StrategyGame/Temp/
StrategyGame/Library/
Clock Tutorial/Library/
Clock Tutorial/Temp/
Grid/Temp/
Grid/Library/
Map Tutorial/Library/
Map Tutorial/Temp/
Mesh Tutorial/Temp/
Mesh Tutorial/Library/
StrategyGame/.vs/
StrategyGame/obj/